{% extends "base.html" %}

{% block content %}

<div class="watermark">
    Asim Sadaqat<br>
    Cyber Security Lab
</div>

<div class="container">

<h2>Login</h2>

<form method="POST">

    {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.email.label }}
        {{ form.email(class="form-input") }}
    </div>

    <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class="form-input") }}
    </div>

    <div class="form-group">
        {{ form.submit(class="btn") }}
    </div>

</form>

<div class="form-group center">
    <a href="{{ url_for('main.home') }}" class="btn secondary">Back to Home</a>
</div>

</div>

{% endblock %}