{% extends "base.html" %}

{% block content %}

<div class="watermark">
    Asim Sadaqat<br>
    Cyber Security Lab
</div>

<div class="container">

<h2>Register</h2>

<form method="POST">

    {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.username.label }}
        {{ form.username(class="form-input") }}
    </div>

    <div class="form-group">
        {{ form.email.label }}
        {{ form.email(class="form-input") }}
    </div>

    <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class="form-input") }}
    </div>

    <div class="form-group">
        {{ form.confirm_password.label }}
        {{ form.confirm_password(class="form-input") }}
    </div>

    <div class="form-group">
        {{ form.submit(class="btn") }}
    </div>

</form>

<div class="center">
    <a href="{{ url_for('main.home') }}" class="btn secondary">Back to Home</a>
</div>

<p class="center">
Already have an account?
<a href="{{ url_for('main.login') }}">Login</a>
</p>

</div>

{% endblock %}